.new-container {
  width: 100vw;
  min-width: 320px;
  background: linear-gradient(200deg, rgba(19,207,108,1) 28%, rgba(21,83,221,1) 83%);
  text-align: center;
  padding: 40px 0px;
}

img {
  max-width: 16%;
  min-width: 150px;
  height: auto;
  padding-bottom: 10px;
}
